<% content_for(:html_title) { @production_company.name } %>

<h2 class="title is-2">Movies by <%= @production_company.name %></h2>

<!--

  List all the movies made by this production company


-->

<% @production_company.movies.each do |company| %>
  <li><%= company.title %></li>
<% end %>